<p style="text-align: center; color: #999; margin-bottom: 2rem;">
  <span data-goatcounter-show=".">...</span> views
</p>

<div id="giscus-comments">
  <script src="https://giscus.app/client.js"
          data-repo="klyhyeon/klyhyeon.github.io"
          data-repo-id="R_kgDOKUR1jA"
          data-category="Announcements"
          data-category-id="DIC_kwDOKUR1jM4C7yJG"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          crossorigin="anonymous"
          async>
  </script>
</div>
